/* Sign Up Component Import */

@import 'signup.css';

/* General Styles */

html {
  color: #1F231A;
  font-size: 16px;
}

body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 300;
}

main {
  background: hsla(54, 62%, 85%, 1);

  background: linear-gradient(270deg, hsla(24, 93%, 73%, 1) 0%, hsla(54, 62%, 85%, 1) 25%, hsla(196, 80%, 79%, 1) 50%, hsla(213, 77%, 14%, 1) 100%);

  background: -moz-linear-gradient(270deg, hsla(24, 93%, 73%, 1) 0%, hsla(54, 62%, 85%, 1) 25%, hsla(196, 80%, 79%, 1) 50%, hsla(213, 77%, 14%, 1) 100%);

  background: -webkit-linear-gradient(270deg, hsla(24, 93%, 73%, 1) 0%, hsla(54, 62%, 85%, 1) 25%, hsla(196, 80%, 79%, 1) 50%, hsla(213, 77%, 14%, 1) 100%);

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F0EBC0", endColorstr="#9DDDF4", GradientType=1 );
}

h1, h2, h3, h4, p {
  margin: 0;
}

h1, h2 {
  font-family: 'McLaren', cursive;
  font-weight: 400;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

input {
  margin: 0;
}

.site-frame {
  width: 95%;
  max-width: 84.5rem;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 56.5rem) {
  .site-frame {
    width: 80%;
  }
}

@media only screen and (max-width: 33rem) {
  .site-frame {
    width: 90%;
  }
}

.illustration-container {
  overflow: hidden;
}

.illustration-item {
  display: block;

  width: 100%;
  height: auto;
}

/* Other Components */

.intro {
  padding: 6.25rem 0 6.25rem;

  text-align: center;
}

@media only screen and (max-width: 48.125rem) {
  .intro {
    padding-bottom: 5rem;
  }
}

@media only screen and (max-width: 42.5rem) {
  .intro {
    padding-top: 3.75rem;
    padding-bottom: 3.125rem;
  }
}

@media only screen and (max-width: 36.875rem) {
  .intro {
    padding-top: 2.75rem;
    padding-bottom: 2.5rem;
  }
}

@media only screen and (max-width: 28.75rem) {
  .intro {
    padding-top: 2.1875rem;
    padding-bottom: 1.875rem;
  }
}

.intro-heading-container {
  display: flex;
  justify-content: center;
  width: 50rem;
  margin: 0 auto 1.875rem;
}

@media only screen and (max-width: 56.25rem) {
  .intro-heading-container {
    width: 43.75rem;
  }
}

@media only screen and (max-width: 48.125rem) {
  .intro-heading-container {
    width: 37.875rem;
    margin-bottom: 2.5rem;
  }
}

@media only screen and (max-width: 42.5rem) {
  .intro-heading-container {
    width: 33.125rem;
    margin-bottom: 2.125rem;
  }
}

@media only screen and (max-width: 36.875rem) {
  .intro-heading-container {
    width: 23.875rem;
    margin-bottom: 1.875rem;
  }
}

@media only screen and (max-width: 28.75rem) {
  .intro-heading-container {
    width: 18.125rem;
    margin-bottom: 2.1875rem;
  }
}

.intro-heading {
  margin-top: 1.5625rem;
  font-size: 3.75rem;
  line-height: 1;
  text-transform: uppercase;
}

@media only screen and (max-width: 56.25rem) {
  .intro-heading {
    margin-top: 1.8125rem;
    font-size: 3.375rem;
  }
}

@media only screen and (max-width: 48.125rem) {
  .intro-heading {
    margin-top: 1.875rem;
    font-size: 2.875rem;
  }
}

@media only screen and (max-width: 42.5rem) {
  .intro-heading {
    margin-top: 2.375rem;
    font-size: 2.25rem;
  }
}

@media only screen and (max-width: 36.875rem) {
  .intro-heading {
    margin-top: 1rem;
    font-size: 1.875rem;
  }
}

@media only screen and (max-width: 28.75rem) {
  .intro-heading {
    font-size: 1.4375rem;
  }
}

.intro-logo {
  width: 9.125rem;
}

@media only screen and (max-width: 56.25rem) {
  .intro-logo {
    width: 8.125rem;
  }
}

@media only screen and (max-width: 48.125rem) {
  .intro-logo {
    width: 7.5rem;
  }
}

@media only screen and (max-width: 36.875rem) {
  .intro-logo {
    width: 4.375rem;
  }
}

@media only screen and (max-width: 28.75rem) {
  .intro-logo {
    width: 3.4375rem;
  }
}

.intro-moto {
  font-size: 1.875rem;
}

@media only screen and (max-width: 36.875rem) {
  .intro-moto {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 27.5rem) {
  .intro-moto {
    font-size: 1.25rem;
  }
}

.bats-gallery-container {
  display: flex;

  max-width: 90.25rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.875rem;
}

@media only screen and (max-width: 76.875rem) {
  .bats-gallery-container {
    margin-bottom: 1.25rem;
  }
}

@media only screen and (max-width: 66.875rem) {
  .bats-gallery-container {
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 56.25rem) {
  .bats-gallery-container {
    margin-bottom: 0.75rem;
  }
}

@media only screen and (max-width: 48.125rem) {
  .bats-gallery-container {
    margin-bottom: 0.625rem;
  }
}

@media only screen and (max-width: 37.5rem) {
  .bats-gallery-container {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media only screen and (max-width: 27.5rem) {
  .bats-gallery-container {
    margin-bottom: 0.25rem;
  }
}

.bats-gallery-item {
  margin-right: 1rem;
}

@media only screen and (max-width: 75rem) {
  .bats-gallery-item {
    margin-right: 0.5rem;
  }
}

@media only screen and (max-width: 58.75rem) {
  .bats-gallery-item {
    margin-right: 0.25rem;
  }
}

@media only screen and (max-width: 37.5rem) {
  .bats-gallery-item {
    flex-basis: 23%;
  }
  
  .bats-gallery-item:first-child, 
  .bats-gallery-item:nth-child(2), 
  .bats-gallery-item:nth-child(3), 
  .bats-gallery-item:nth-child(4) {
    margin-bottom: 0.25rem;
  }

}

.bats-gallery-item:first-child {
  margin-left: 1rem;

}

@media only screen and (max-width: 75rem) {
  .bats-gallery-item:first-child {
    margin-left: 0.5rem;
  }
}

@media only screen and (max-width: 75rem) {
  .bats-gallery-item:first-child {
    margin-left: 0.25rem;
  }
}

.bats-gallery-text {
  text-align: center;
  font-size: 2.5rem;
  font-family: 'Nanum Pen Script', cursive;
}

@media only screen and (max-width: 66.875rem) {
  .bats-gallery-text {
    font-size: 2.375rem;
  }
}

@media only screen and (max-width: 60rem) {
  .bats-gallery-text {
    font-size: 2.125rem;
  }
}

@media only screen and (max-width: 48.125rem) {
  .bats-gallery-text {
    font-size: 1.875rem;
  }
}

@media only screen and (max-width: 27.5rem) {
  .bats-gallery-text {
    font-size: 1.625rem;
  }
}

.description {
  padding-top: 5rem;
  padding-bottom: 6.25rem;

  text-align: center;
}

@media only screen and (max-width: 48.125rem) {
  .description {
    padding-top: 3.75rem;
    padding-bottom: 3.5rem;
  }
}

@media only screen and (max-width: 42.5rem) {
  .description {
    padding-top: 2.375rem;
    padding-bottom: 3rem;
  }
}

@media only screen and (max-width: 36.875rem) {
  .description {
    padding-top: 1.875rem;
  }
}

@media only screen and (max-width: 27.5rem) {
  .description {
    padding-top: 1rem;
    padding-bottom: 1.875rem;
  }
}

.description-heading {
  margin-bottom: 5rem;
  font-size: 2.625rem;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 300;
}

@media only screen and (max-width: 68.75rem) {
  .description-heading {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 56.25rem) {
  .description-heading {
    margin-bottom: 3.75rem;
    font-size: 2.25rem;
  }
}

@media only screen and (max-width: 48.125rem) {
  .description-heading {
    margin-bottom: 2.5rem;
    font-size: 1.75rem;
  }
}

@media only screen and (max-width: 42.5rem) {
  .description-heading {
    margin-bottom: 1.875rem;
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 36.875rem) {
  .description-heading {
    margin-bottom: 1.75rem;
    font-size: 1.375rem;
  }
}

@media only screen and (max-width: 27.5rem) {
  .description-heading {
    margin-bottom: 1.375rem;
    font-size: 1.25rem;
  }
}

.description-text p {
  font-size: 1.875rem;
  line-height: 1.8;
}

@media only screen and (max-width: 68.75rem) {
  .description-text p {
    font-size: 1.625rem;
    line-height: 1.5;
  }
}

@media only screen and (max-width: 48.125rem) {
  .description-text p {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 42.5rem) {
  .description-text p {
    font-size: 1.25rem;
  }
}

@media only screen and (max-width: 36.875rem) {
  .description-text p {
    font-size: 1.125rem;
    line-height: 1.3;
  }
}

@media only screen and (max-width: 27.5rem) {
  .description-text p {
    font-size: 1rem;
    line-height: 1.2;
  }
}

.gallery {
  padding-top: 3.75rem;
  padding-bottom: 6.25rem;
}

@media screen and (max-width: 43.75rem) {
  .gallery {
    padding-top: 2.75rem;
    padding-bottom: 5rem;
  }
}

@media only screen and (max-width: 36.875rem) {
  .gallery {
    padding-bottom: 3.75rem;
  }
}

@media screen and (max-width: 35.1875rem) {
  .gallery {
    padding-top: 2.125rem;
  }
}

.gallery-heading {
  margin-bottom: 3.75rem;  
  text-transform: uppercase;
  text-align: center;
  font-size: 1.875rem;
}

@media only screen and (max-width: 56.25rem) {
  .gallery-heading {
    margin-bottom: 3.5rem;
  }
}

@media only screen and (max-width: 43.75rem) {
  .gallery-heading {
    margin-bottom: 2.5rem;
  }
}

@media only screen and (max-width: 37.5rem) {
  .gallery-heading {
    margin-bottom: 2.125rem;
  }
}

@media only screen and (max-width: 36.875rem) {
  .gallery-heading {
    font-size: 1.4375rem;
  }
}

@media only screen and (max-width: 27.5rem) {
  .gallery-heading {
    font-size: 1.3125rem;
    margin-bottom: 1.75rem;
  }
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 1.5%;
  row-gap: 2.5%;
}

@media only screen and (max-width: 53.125rem) {
  .gallery-container {
    column-gap: 1%;
    row-gap: 2%;
  }
}

@media only screen and (max-width: 37.5rem) {
  .gallery-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 33.75rem) {
  .gallery-container {
    row-gap: 1.5%;
  }
}

@media only screen and (max-width: 27.5rem) {
  .gallery-container {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.5%;
  }
}

.gallery-item {
  box-shadow: 0.25rem 0.25rem 0.25rem #08213f2f;
}

footer {
  color:hsla(54, 62%, 85%, 1);
}

.footer-top-section {
  background-color: #08213F;
}

.cta {
  padding-bottom: 6.25rem;
  font-size: 2.25rem;
  text-align: center;
}

@media only screen and (max-width: 36.875rem) {
  .cta {
    padding-bottom: 5rem;
  }
}

.cta a {
  color: #F2FFE3;
  font-family: 'Nanum Pen Script', cursive;
  font-size: 3.125rem;
  text-transform: uppercase;
  transition-property: color;
  transition-duration: 0.3s;
}

@media only screen and (max-width: 43.75rem) {
  .cta a {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 36.875rem) {
  .cta a {
    font-size: 2.125rem;
  }
}

.cta a:hover {
  color: #9FDDF4;
}

.footer-bottom-section {
  background-color: #007A78;
}

.footer-credit-container {
  padding-top: 1.875rem;
  padding-bottom: 2.5rem;
}

@media only screen and (max-width: 36.875rem) {
  .footer-credit-container {
    padding-bottom: 2rem;
  }
}

.footer-credit-heading {
  margin-bottom: 1rem;
  color: #F2FFE3;
  font-size: 1.25rem;
  text-transform: uppercase;
}

@media only screen and (max-width: 36.875rem) {
  .footer-credit-heading {
    font-size: 1.125rem;
  }
}

.footer-credit-link {
  color: #F2FFE3;
  font-size: 1.125rem;
  line-height: 1.5;
  transition-property: color;
  transition-duration: 0.3s;
}

@media only screen and (max-width: 43.75rem) {
  .footer-credit-link {
    font-size: 1rem;
    line-height: 1.6;
  }
}

.footer-credit-link:hover {
  color: #08213F;
}

.footer-link-separator {
  margin-left: 0.125rem;
  color: #F2FFE3;
}